body{
 background-color:black;
}
h3{
  color:red;
  text-transform: uppercase;
  text-decoration: underline;
}

p{
 color: White;
 font-size:x-large;
 font-style:italic;
 font-weight:bolder;
 text-indent:65px;
 text-decoration:blink;

}
a{
  font-size:60px;
}
a:active {
 background-color:purple;
 color: yellow;
}
a:active {
  color: green;
  background-color:red;
}
a:hover {
 background-color:green;
  color:red;
}
a:visited {
 color:orange;
 background-color:pink;
}
h2{
 color:red;
 text-align:center;
 font-size:100px;
 font-variant:small-caps;
 background-color:green;
}
h2:hover{
  color:yellow;
  backgroud-color:pink;
}
