h3{
  color:red;
  text-transform: uppercase;
  text-decoration: underline;
}

p{
 color: White;
 font-variant:small-caps;
 font-size:x-large;
 font-style:italic;
 font-weight:bolder;
 text-indent:65px;
 text-decoration:blink;

}